body {
  font-family: Arial;
  background-color: #10b3ca;
  color: white;
}

h1 {
  font-size: 60px;
}

p {
  color: white;
}

button {
	cursor: pointer;
	text-align: center;
  margin: 10px;
  margin-top: 40px;
  font-size: 14px;
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 5px;
	color: #0a7483;
	background-color: white;
	border: none;
}

button:hover {
	background-color: #0a7483;
	color: white;
}

#container {
  text-align: center;
  width: 900px;
  margin: auto;
}

#quote-submission {
  font-size: 16px;
  display: block;
  width: 450px;
  height: 120px;
  border: none;
  padding: 10px;
}

#quote-jinMood {
  font-size: 16px;
  display: block;
  width: 200px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
}

p.giant-quotemarks {
  font-size: 100px;
  line-height: 20px;
  font-weight: 900;
  margin-bottom: 20px;
  padding: 0px;
}

.quote-blurb {
  font-size: 18px;
  line-height: 25px;
  width: 700px;
  text-align: center;
  margin: auto;
}

.step-one {
  float: left;
}
